#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  flex-direction: row;
  color: rgb(92, 0, 0);
}



.card {
  padding: 2em;
  padding-top: 1px;
  background-color: white;
  border-radius: 20px;
  margin: 2em;
  width: 780px;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: rgb(255, 255, 235);
}

.card:hover, .card-2:hover, .location-name:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgb(205, 113, 0);
}

.card h2,
p {
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: medium;
}

.card-2 {
  padding: 2em;
  padding-top: 1px;
  background-color: white;
  border-radius: 20px;
  margin: 2em;
  width: 483px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 235);
  padding-bottom: 16px;
  align-items: center;
}

.card-2 h2 {
  margin-bottom: 0px;
}

.card-2 p {
  padding-bottom: 0px;
}

.location-name {
  width: 98%;

  color: darkred;
  background-color: rgb(255, 255, 235);
  /* border-radius: 10px; */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* display: 'inline-block';
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; */
  /* display: inline-flex;
  align-items: center; */
}

.location-name h1,
.location-name h2, h3, #card-3 {
  display: inline;
}

#card-3 {
  background-color: darkred;
  color: rgb(255, 255, 235);
}

.location-name h1 {
  margin-right: 10px;
}

.location-name h2 {
  font-style: italic;
  margin-right: 100px;
}
.location-name h3 {
  margin-bottom: 100px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 168%;
  background-color: lightyellow;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100;
  background-color: brown;
  align-items: flex-start;


}

#rest-image {
  border: 2px solid darkred;
  border-radius: 15px;
}

#checkmark {
  width: 4%;
}

#phone-icon {
  width: 2%;
}

#heart {
  width: 2%;
  padding: 0px;
  margin: 0px;
}

audio {
  display: none;
}

.card h2, .card p {
  display: inline;
}

textarea {
  background-color: white;
  color:rgb(92, 0, 0);
  resize: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 10px;
  font-size: medium;
  padding: 5px;
}

#submit {
  background-color: brown;
  color: rgb(255, 255, 235);
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 8.5px;
  padding-left: 28px;
  padding-right: 28px;

  border-radius: 10px;
}

#rawr {
  padding-bottom: 24.3px;
}