#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  flex-direction: row;
}

.card {
  padding: 2em;
  
}

.location-name {
  width: 200%;

  color: darkred;
  background-color: white;
  /* border-radius: 10px; */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* display: 'inline-block';
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; */

  

}

.header1 {
  display: inline-block;
}

.location-name h1,
.location-name h2 {
  display: inline;
}

.location-name h1 {
  margin-right: 10px;
}
.location-name h2 {
  font-style: italic;
}
